.git
.env.backup
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
Dockerfile
.dockerignore
.editorconfig
.gitattributes
.gitignore
README.md
CHANGELOG.md
tests
phpunit.xml
.vscode
